body {
    margin: 0;
    padding: 0;
    font-family: 'Rockwell', serif;
    background-color: #f0f5f9;
}

.log-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loginForm {
    background-image: url('../Images/log.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

h1 {
    color: #3498db;
    text-align: center;
    font-size: 40px;
}

.input-group {
    margin-bottom: 20px;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 97%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-box {
    text-align: center;
}

button {
    font-family: 'Rockwell', serif;
    background-color: #3498db;
    border: none;
    padding: 10px 25px;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    font-size: 20px;
}

button:hover {
    background-color: #2980b9;
}

.error {
    color: #e74c3c;
    margin-top: 5px;
}

.errorr{
    color: #af4242;
    background-color: #fde8ec;
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
    display: none;

}

<<<<<<< HEAD
/* Add custom styles for transparency */
.navbar {
    background-color: cornflowerblue !important; /* Adjust alpha channel for transparency */
}

/* Optional: Add a background color on scroll or adjust other styles */
.navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.9); /* Adjust alpha channel for transparency on scroll */
    transition: background-color 0.3s ease-in-out; /* Smooth transition effect */
}

/* Custom style for the logout link */
=======
.navbar {
    background-color: cornflowerblue !important;
}

/* This adds a background color on scroll or adjust other styles */
.navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.9); /* Adjusts alpha channel for transparency on scroll */
    transition: background-color 0.3s ease-in-out; /* The is for smooth transition effect */
}


>>>>>>> dd5e4a7 (Eddited the CSS and commented)
.navbar-nav .nav-item .nav-link.logout-btn {
    background-color: white;
    color: cornflowerblue;
    border: 1px solid cornflowerblue;
    padding: 8px 15px;
    border-radius: 5px;
<<<<<<< HEAD
    transition: all 0.3s; /* Add transition for smooth effect */
=======
    transition: all 0.3s;
>>>>>>> dd5e4a7 (Eddited the CSS and commented)
}

.navbar-nav .nav-item .nav-link.logout-btn:hover {
    background-color: red;
    color: white;
}

.body .welcome-section {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 80px;
}
<<<<<<< HEAD
/* Dashboard CSS Code */

=======

/* Dashboard CSS Code */
>>>>>>> dd5e4a7 (Eddited the CSS and commented)
.welcome-section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29vh;
}
.welcome-section {
    background-color: white;
    color: cornflowerblue;
    padding: 80px 0;
    margin-top: 50px;
    text-align: center;
}

.welcome-section .container h1 {
<<<<<<< HEAD
    font-size: 3.5rem; /* Increased font size */
    font-weight: bold; /* Made the font bolder */
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Added a shadow */
=======
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
>>>>>>> dd5e4a7 (Eddited the CSS and commented)
}

.cta-section {
    background-image: url('../Images/cloudback.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
<<<<<<< HEAD
    font-weight: bold; /* Add this line to make the font bolder */
=======
    font-weight: bold;
>>>>>>> dd5e4a7 (Eddited the CSS and commented)
    padding: 60px 0;
    text-align: center;
    margin-bottom: 50px;
}
.cta-section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29vh;
}
.cta-section p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #3498db;
    border-color: #3498db;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #ffffff;
    color: cornflowerblue;
}



.about-section {
    margin-top: 50px;
    background-color: white;
    color: cornflowerblue;
    padding: 80px 0;
    text-align: center;
}

.about-container {
    max-width: 800px;
    margin: 0 auto;
}

.about-section h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #3498db;
}

.about-section p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #333;
}

<<<<<<< HEAD

/* Style the container with a maximum width */
=======
>>>>>>> dd5e4a7 (Eddited the CSS and commented)
.container-graph {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 150px;
}

<<<<<<< HEAD
/* Style the heading and description */
=======
>>>>>>> dd5e4a7 (Eddited the CSS and commented)
.title {
    margin-bottom: 10px;
    color: cornflowerblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 36px;
}

.description {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
}

<<<<<<< HEAD
/* Center the image and chart */
=======
>>>>>>> dd5e4a7 (Eddited the CSS and commented)
.text-center img, .text-center canvas {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

<<<<<<< HEAD
/* Style the chart canvas */
=======
>>>>>>> dd5e4a7 (Eddited the CSS and commented)
canvas {
    border: 1px solid #ddd;
    border-radius: 8px;
}

<<<<<<< HEAD
/* Optional: Style the title of the chart */
=======

>>>>>>> dd5e4a7 (Eddited the CSS and commented)
#myChart .axis-title {
    font-size: 14px;
    font-weight: bold;
}

<<<<<<< HEAD


/* Custom CSS for the footer */
.footer {
    padding-top: 0;
    background-color: cornflowerblue; /* Change this to your desired background color */
    color: #ffffff; /* Change this to your desired text color */
    text-align: center; /* Align text to the center */
    padding: 0px 0; /* Add padding for better spacing */
=======
.footer {
    padding-top: 0;
    background-color: cornflowerblue;
    color: #ffffff;
    text-align: center;
    padding: 0px 0;
>>>>>>> dd5e4a7 (Eddited the CSS and commented)
}
.foot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
<<<<<<< HEAD
    max-width: 7500px; /* Set the maximum width of the container */
=======
    max-width: 7500px;
>>>>>>> dd5e4a7 (Eddited the CSS and commented)
    text-align: center;
}


.footer a {
<<<<<<< HEAD
    color: #ffffff;/* Link color */
}

.footer a:hover {
    text-decoration: none; /* Remove underline on hover */
    color: #ffffff; /* Change color on hover if desired */
=======
    color: #ffffff;
}

.footer a:hover {
    text-decoration: none;
    color: #ffffff;
>>>>>>> dd5e4a7 (Eddited the CSS and commented)
}

/* Additional style for smaller screens */
@media (max-width: 768px) {
    .navbar-nav .nav-item .nav-link.logout-btn {
        padding: 6px 12px; /* Adjust padding for smaller size */
        width: 75px;
    }

    body {
<<<<<<< HEAD
        margin: 0; /* Remove default body margin */
        padding: 0; /* Remove default body padding */
    }

    .navbar-brand img {
        margin-top: -5px; /* Adjust as needed */
=======
        margin: 0; /* this removes default body margin */
        padding: 0; /* Removes default body padding */
    }

    .navbar-brand img {
        margin-top: -5px;
>>>>>>> dd5e4a7 (Eddited the CSS and commented)
    }

    .log-container {
        width: auto;
    }

    input {
        width: auto;
    }
    .container {
        height: auto;
    }

    .loginForm {
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    input {
        width: 100%;
    }

    .welcome-section .container h1{
        font-size: 50px;
        margin-bottom: 15px;
    }

    .cta-section {
        padding: 40px 0;
    }

    .cta-section p {
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .btn-primary {
        font-size: 1rem;
        padding: 8px 15px;
    }

    .about-section h1 {
        font-size: 2.5rem;
        margin-bottom: 15px;
    }

    .about-section p {
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .footer {
        height: auto;
    }

    .footer .foot-container {
<<<<<<< HEAD
        max-width: 800px; /* Set the maximum width of the container */
=======
        max-width: 800px;
>>>>>>> dd5e4a7 (Eddited the CSS and commented)
        font-size: 0.7rem;
        height: 150px;
    }

    .footer .a{
        font-size: 1rem;
    }
}
